<html>
<head>
  <meta name="decorator" content="atl.admin"/>
  <meta name="admin.active.section" content="admin_plugins_menu/my-section"/>
  <meta name="admin.active.tab" content="my-web-item"/>
  <title>Title$i18.getText("my-web-item.label")$action.getName()</title>
</head>
<body>
<form class="aui">
  <div class="field-group">
    <label >Project name</label>
    <select class="select" id="iss" name="issueEvent">
      <option>ShultsProjects</option>
      <option>SheleProject</option>
      <option>Other Jira Project</option></br>
      <div class="field-group">
        <label >IssueEvent</label>
        <select class="select" id="event" name="issue-example">
      <optgroup label="Issue events">
        #foreach($event in events)
        <option>$event.getIssue()</option>
        <option>$event.getComment()</option>
        <option>$event.getIssueId()</option>
        <option>$event.getComment().getBody()</option>
        <option>$event.ProjectId()</option>
        #end
      </optgroup>
        </select>
      </div>
    </select>
  </div>
</form>
</body>
</html>