#* @vtlvariable name="action" type="com.atlassian.shele.shelePlugin.webwork.SelectAction" *#

#set($context=$action.servletContext)
<html>
<head>
    <meta name="decorator" content="atl.admin"/>
    <meta name="admin.active.section" content="admin_plugins_menu/my-section"/>
    <meta name="admin.active.tab" content="my-next-item"/>
    <script src="https://connect-cdn.atl-paas.net/all.js"></script>
    <title>$i18n.getText("my-web-item.name.title.loads")</title>
</head>
<body>
<form class="aui" action=$baseurl/rest/rest-issue/1.0/api/issue method="post" id="form-1">
    <select class="multi-select" size="4" multiple="multiple" id="select2-example" multiple>
        <label>Projects</label>
        #foreach($pro in $context.getAttribute("prod"))
            #if($pro)
                <option id="opt" value=$pro.getId()>
                    $pro.getKey()
                </option>
            #end
        #end
    </select>
    <div>

        <select class="multi-select" size="4" multiple="multiple" id="event" name="issue-example">
            <label>Events</label>
            #foreach($list in $context.getAttribute("event"))
                #if($list)
                    <option id="test" value=$list.getId()>$list.getName()
                    </option>
                #end
            #end
        </select>
    </div>
    <div class="bt-example">
        <button class="aui-button aui-button-primary" id="showAction" class="text-left"
                style="display: block; margin-right: auto;">$i18n.getText("my-web-item.name.button")</button>
    </div>
</form>
<div class="error" id="valid">
    <ul>
        <li><span class="aui-icon aui-icon-small aui-iconfont-error aui-icon-notification"></span>$i18n.getText(
            "my-web-item.name.message.error")
        </li>
    </ul>
</div>
<div class="aui-message aui-message-success" id="notify">
    <p class="title">
        <strong>$i18n.getText("my-web-item.name.done")</strong>
    </p>
    <p>$i18n.getText("my-web-item.name.success")</p>
</div>
<script type="text/javascript">
    AJS.toInit(function () {

        AJS.$('#valid').hide();
        AJS.$('#notify').hide();
        AJS.$('#form-1').submit(function (event) {
            AJS.$('#showAction').hide();
            event.preventDefault();
            var attr = $('#test').attr('value');
            var attr2 = $('#test2').attr('value2');
            var attr3 = $('#test3').attr('value3');
            var attr4 = $('#test4').attr('value4');
            let arrs = [attr, attr2, attr3, attr4];
            let projects = $('#select2-example').val();
            if (projects === null) {
                AJS.$('#valid').show();
                AJS.$('#notify').hide();
            }
            let events = $('#event').val();
            if (events === null) {
                AJS.$('#valid').show();
                AJS.$('#notify').hide();
            }

            const settings = {
                project: projects,
                eventTypeIds: events
            }

            const request = jQuery.ajax({
                type: "POST",
                data: JSON.stringify(settings),
                url: AJS.contextPath() + "/rest/rest-issue/1.0/api/issue",
                headers: {'X-Atlassian-Token': 'nocheck'},
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                statusCode: {
                    201: function () {
                        AJS.$('#notify').show();
                        if (projects === null || events === null) {
                            AJS.$('#notify').hide();
                        }
                    }
                }
            });
        });
    });
</script>
</body>
</html>