#* @vtlvariable name="action" type="com.atlassian.shele.shelePlugin.webwork.SelectAction" *#

#set($ft = "Jira Loads ")
#set($sc="Jira класс?")
#set($title="Okay bro!")
#set($context=$action.servletContext)
<html>
<head>
  <meta name="decorator" content="atl.admin"/>
  <meta name="admin.active.section" content="admin_plugins_menu/my-section"/>
  <meta name="admin.active.tab" content="my-next-item"/>
  <script src="https://connect-cdn.atl-paas.net/all.js"></script>
  <title>$title</title>
</head>
<body>
<form class="aui" action="http://localhost:2990/jira/rest/rest-issue/1.0/api/issue" method="post" id="form-1">
  <select class="multi-select" size="4" multiple="multiple" id="select2-example" multiple >
    <label>Projects</label>
    #set($pr=$context.getAttribute("prod"))
    <option value=$values>#if($pr)
            $pr
#end</option>
  </select>
  <div>

    <select class="multi-select" size="4" multiple="multiple" id="event" name="issue-example"id="sel2">
      <label>Events</label>
    #foreach($list in $context.getAttribute("event"))
      #if($list)
      <option id="test" value=$list.getId()>$list.getName()
      </option>
          #end
        #end
    </select>

  </div>
  <div class="bt-example">
    <button class="aui-button aui-button-primary" id="showAction" class="text-left" style="display: block; margin-right: auto;">$ft</button>
  </div>
</form>
<script type="text/javascript">
  AJS.toInit(function (){


    AJS.$('#form-1').submit(function (event) {
    AJS.$('#showAction').hide();
    event.preventDefault();
    var attr = $('#test').attr('value');
    console.log(attr);
    var attr2 = $('#test2').attr('value2');
    console.log(attr2);
      var attr3 = $('#test3').attr('value3');
      var attr4 = $('#test4').attr('value4');
      let arrs=[attr,attr2,attr3,attr4];




      let sk=$('#select2-example').val();
        if (sk===null)
          alert('Project not can be empty!!');

          var g = $('#event').val();


    var a = {
      project: sk,
      issueStatus:AJS.$("#sel2").val(),
      eventTypeIds:g
    }
    console.log(a);

    jQuery.ajax({
      type: "POST",
      data: JSON.stringify(a),
      url: "http://localhost:2990/jira/rest/rest-issue/1.0/api/issue",
      headers: { 'X-Atlassian-Token': 'nocheck'},
      dataType :"json",
      contentType:"application/json;charset=utf-8",
        success: function (){
          alert('Data success have been loaded success')
          AJS.$('#showAction').show();
        }

    }).done(function () {
      $('#form-1').trigger('reset');


    });
  });

  });
</script>
</body>
</html>