#* @vtlvariable name="action" type="com.atlassian.shele.shelePlugin.webwork.MywebWorkAction" *#

#set($context= $action.servletContext)
<html>
<head>
    <meta name="decorator" content="atl.admin"/>
    <meta name="admin.active.section" content="jira.project.sidebar.navigation"/>
    <meta name="admin.active.tab" content="my-web-item"/>

    <title>Database stores..</title>
</head>
<body>
<table class="aui">
    <thead name ="Dbraws">
    <tr>
        <th>AuthorIssue</th>
        <th>Time Creation</th>
        <th>List of fields</th>
        <th>New field</th>
        <th>Previous field</th>
        <th>Id Project</th>
        <th>Event id</th>
    </tr>
    </thead>
    <tbody>
        #foreach($entity in $context.getAttribute("entity"))
        <tr>
            #set($foo=$entity.getAuthorIssue())
            <td><strong>#if($foo)
                $foo
            #end</strong></td>
            #set($bar=$entity.getCreatedTime())
            <td><strong>#if($bar)
            $bar
#end</strong></td>
            #set($field=$entity.getField())
            <td><strong>#if($field)
            $field
#end</strong></td>
            #set($change=$entity.getNewField())
            <td><strong>#if($change)
            $change
#end</strong></td>
            <td><strong>#if($entity.getPrevField())
            $entity.getPrevField()
#end</strong></td>
            #set($prod=$entity.getProjectId())
            <td><strong>#if($prod)
            $prod
#end</strong></td>
            #set($ev=$entity.getEvent())
            <td><strong>#if($ev)
                    $ev
                #end</strong></td>
        </tr>
        #end
    </tbody>
</table>
</body>
</html>