#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
#if ($jiraUserUtils.getGroupNamesForUser($authcontext.loggedInUser.name).contains('jira-administrators'))
<input type="text"
       name="$customField.id"
       value="$!value"/>
#else
    #if($value && ! $value.equals(" "))
        #set ($displayValue = ${value})
    #else
        #set ($displayValue = $i18n.getText("simple-custom-field.description"))
    #end
<span  text = $i18n.getText("simple-custom-field.description")>$!displayValue</span>
<input type="hidden"
       name="$customField.id"
       value="$!value"/>
#end
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)